Rplots.pdf
*.qsub*
mothur*logfile

code/mothur/*
data/*/*
!README.md
!LICENSE.md
!data/raw/primer.oligos
!data/raw/metadata.csv
!data/raw/group_colors.csv
!data/raw/raw.files
!data/references/atcc_v4.fasta
