.Rproj.user
.Rhistory
.RData
Rplots.pdf

.DS_Store

code/mothur/*
data/*/*
data/summary.txt
!data/process/*
!README.md
!data/raw/primer.oligos
!data/raw/metadata.csv
!data/raw/group_colors.csv

# Sequences taxonomy data
!data/mothur/raw.trim.contigs.good.unique.good.filter.unique.precluster.pick.nr_v138.wang.tax.summary
# OTU/sample data
!data/mothur/raw.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.shared
# Rarefaction data
!data/mothur/raw.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.groups.rarefaction
# Sequencing error summary data
!data/mothur/raw.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.error.summary
# OTU taxonomy data
!data/mothur/raw.trim.contigs.good.unique.good.filter.unique.precluster.pick.pick.pick.opti_mcc.0.03.cons.taxonomy

*.qsub*
mothur*logfile
*temp*
*.docx
